Table.css {
  gap: 10px;
  padding: 1rem;
  border: red 1px solid;
}

.table__header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight:bold;
}

th,
td {
  border: 1px solid #ffffff;
  text-overflow:ellipsis; 
  padding: 8px;
  font-size: 14px;
}

th {
  font-size: 24px;
  text-align: left;
  white-space:nowrap; 
  overflow:hidden;
  text-align: left;
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

.red-theme {
  background-color: red;
}

.green-theme {
  background-color: green;
}

.blue-theme {
  background-color: rgb(205, 235, 253);
}

.logout-btn {
  cursor:pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transition:0.2s ease-in;
  width: 240px;
  height: 60px;
  background-color: rgb(4, 151, 243);;
  color: #ffffff;
}

.logout-btn:hover { 
  opacity:0.8;
}